@font-face {
    font-family: "Obitron";
    font-style: "black";
    src: url(../assets/font/Orbitron-Black.ttf);
}

@keyframes start-btn-show {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes btn-losingscreen {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #c8dad3;
    font-size: 20px;
    overfow: hidden;
    background-color: #212729;
}

.headline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline-container-hide {
    display: none;
}

.headline {
    position: absolute;
    top: 100px;
    font-family: "Obitron";
    color: white;
    font-size: 100px;
}

.subline {
    position: absolute;
    top: 220px;
    font-family: "Obitron";
    color: white;
    font-size: 80px;
}

.start-btn-show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 350px;
    opacity: 1;  
    animation: start-btn-show 3s infinite;
}

.start-btn-show button {
    font-family: "Obitron";
    color: white;
    background-color: transparent;
    border: none;
    font-size: 50px;
    text-align: center;
}

.start-btn-hide {
    display: none;
}

.btn-container-show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: -80px;
}

.choose-ship-container-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    text-align: center;
}

.choose-ship-container-show h2 {
    font-family: "Obitron";
    color: white;
    font-size: 50px;
}

.choose-ship-container-show h4 {
    font-family: "Obitron";
    color: white;
    font-size: 30px;
    margin-top: -10px;
}

.choose-ship-container-hide {
    display: none;
}

.btn-container-show button {
    font-family: "Obitron";
    color: white;
    border: none;
    background-color: transparent;
    font-size: 25px;
    margin-top: 300px;
    text-align: center;
}

.btn-container-hide {
    display: none;
}

.btn-green {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/ships/Spaceship_03_GREEN.png");
    background-size: cover;
    background-position: center;
    width: 370px;
    height: 370px;
    margin-right: -10px;
}

.btn-red {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/ships/Spaceship_05_RED.png");
    background-size: cover;
    background-position: center;
    width: 315px;
    height: 315px;
    margin-right: 20px;
}

.btn-orange {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/ships/Spaceship_02_ORANGE.png");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    margin-right: 50px;
}

.container-show {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.container-hide {
    display: none;
}

.ship-spec-align-show {
    display: flex;
    margin-top: 470px;
    font-family: "Obitron";
    color: white;
    font-size: 20px;
    list-style-type: none;
    text-align: left;
}

.ship-spec-align-hide {
    display: none;
}

.ship-green-spec {
    position: relative;
    left: -120px;
}

.ship-red-spec {
    position: relative;
    right: 0px;
}

.ship-orange-spec {
    position: relative;
    right: -90px;
}

li {
    margin-bottom: 20px;
}

.losingscreen-container-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
}

.losingscreen-container-show h2 {
    font-family: "Obitron";
    color: white;
    font-size: 80px;
    text-align: center;
}
.losingscreen-container-show h3 {
    font-family: "Obitron";
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.btn-losingscreen {
    font-family: "Obitron";
    color: white;
    font-size: 50px;
    border: none;
    background-color: transparent;
    margin-top: 225px;
    text-align: center;
    opacity: 1;  
    animation: start-btn-show 3s infinite;
}

.losingscreen-container-hide {
    display: none;
}




